* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/931976776744329216/932122973907849236/bxGO6jd.png");
  background-size: 100%;
}

h1 {
  color: white;
  margin-left: 20px; /*TODO: fix this */
}

.nav-title {
  margin-right: auto;
}

.nav-links {
  /* TODO: Center Vertically */
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
