@import url(https://fonts.googleapis.com/css?family=Rosario:400&subset=latin,latin-ext);
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-image: url("https://cdn.discordapp.com/attachments/931976776744329216/932122973907849236/bxGO6jd.png"); */
  background-color: #E5FFB3;
  background-size: 100%;
  font-family: 'Rosario';
}

/* Navbar */
.nav-bar {
    position: absolute;
    width: 100%;
    top: 0;
}

h1 {
  color: white;
  margin-left: 10%;
  margin-top: 2%;
  padding: 0;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: #025600;
}

/* Songnality.. */
.nav-title {
  margin-right: auto;
  
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #92DE34;
  display: flex;
}

.nav-links a {
  display: block;
  color: #025600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #69BC22;
}

/* Main text */
.main {
    text-align: center;
}

.main #welcome {
    width: 40%;
    margin: 15vh auto 0;
    font-size: 10vh;
    font-weight: bold;
    color: #c48d3f;
    font-family: "Georigia";
    /* text-shadow: -8px 0px 0 #714f1f; */
}

.main #subwelcome {
    margin-top: 5vh;
    /* font-size: 5vh;
    font-weight: bold; */
    color: #c48d3f;
    font-size: 30px;
    font-weight: bold;
    font-family: "Georigia";
}

* {
  box-sizing: border-box;
}

:root {
  --background-accent: #DBF8A3;
  --background-accent-2: #BDE66E;
  --light: #92DE34;
  --dark: #69BC22;
  --text: #025600;
}

.main button {
    border-style: none;
    outline: 0;
    background-color: #6196AD;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 0.75% 4%;
    text-align: center;
    transition: 0.25s;
    border-radius: 25px;
    margin-top: 15vh;
    margin-left: 500px;

    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 400px;
    height: 70px;
    border-radius: 30px;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
}


.main button:hover {
    opacity: 0.8;
    cursor: pointer;

    background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--dark) 10% 20%,
    transparent 20% 30%,
    var(--dark) 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    var(--dark) 70% 80%,
    transparent 80% 90%,
    var(--dark) 90% 100%
  );
  animation: background 3s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.main .sponser {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 0vh;
}

.main .sponser #message {
    font-size: 20px;
    margin: 0;
    color: #c48d3f;
}

.main #spotify {
    width: 100px;
    height: 50px;
    margin: 0;
    display: inline-block;
}

.main #spotify img {
    width: 100%;
    height: auto;
}

.main #spotify:hover {
    opacity: 0.8;
    cursor: pointer;
}