<head lang="en">
    <link rel="stylesheet" href="./../../static/css/songselect.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    <div class="wrapper">

    <div class="left">
        <section id="search">
            <form>
                <input placeholder="Search for songs..." id="search-bar" type="text">
            </form>
            <div class="search-results">
                
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="./../../static/js/search.js"></script>
        

        <section id="spotify">

        </section>
    </div>

    <div class="right">
        <section id="selected">
            <h3 class="title">Selected Songs</h3>
            <div>

            </div>
        </section>
    </div>

    </div>
</body>