<head lang="en">
    <link rel="stylesheet" href="./../../static/css/songselect.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    <section id="search">
        <form>
            <input id="search-bar" type="text">
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="./../../static/js/search.js"></script>
    
    <section id="selected">

    </section>

    <section id="spotify">

    </section>

    
</body>