<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="./../../static/css/about.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    {% load static %}
    <ul class="nav-bar">
        <li class="nav-title"><h1><a href='/'>Songnality</a></h1></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="nav-links"><a href="/pinfo">Personality Information</a></li>
    </ul>

 
    <div class="about_border">

        <p class="about_title">
            About
        </p>

        <p class="about_text">
            Songnality is a WebApp designed to predict an Animal Crossing character 
            that the user most closely aligns with using their top song choices. 
            In addition, users can see their assigned characters top/preferred songs. 
            Currently Songnality features 8 Animal Crossing characters.
        </p>

        <p class="about_closing">
            Eric, Jonathan, and Yenna
        </p>

    </div>


</body>