<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="./../../static/css/about.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    {% load static %}
    <ul class="nav-bar">
        <li class="nav-title"><h1><a href='/'>Songnality</a></h1></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="nav-links"><a href="/pinfo">Personality Information</a></li>
    </ul>
    <div class="center">
        <h3>About Songnality</h3>
        <p class="about-p">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio vero itaque eaque amet fugit consequatur quibusdam corrupti eligendi ea voluptas laboriosam quo, eum dolore. Laborum veritatis maxime omnis impedit eligendi quibusdam fugiat quod, blanditiis dignissimos soluta sequi suscipit vero ipsum nulla aliquid quae molestias alias harum, explicabo dolorem, hic odit. Ipsum qui ad eos illo nam unde commodi adipisci consequatur atque sapiente distinctio, voluptas sequi natus porro aperiam aut id, culpa maxime. Dolorum provident, iusto nobis culpa praesentium incidunt.
        </p>
    </div>
</body>