<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="./../../static/css/landing.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    <ul class="nav-bar">
        <li class="nav-title"><h1>Songnality</h1></li>
        <li class="nav-links"><a href="#news">News</a></li>
        <li class="nav-links"><a href="#contact">Contact</a></li>
        <li class="nav-links"><a href="#about">About</a></li>
      </ul>
</body>