<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="./../../static/css/landing.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    {% load static %}
    <ul class="nav-bar">
        <li class="nav-title"><h1><a href='/'>Songnality</a></h1></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="nav-links"><a href="/pinfo">Personality Information</a></li>
    </ul>
    <div class="main">
        <header id="welcome">Discover your Songnality!</header>
        <h4 id="subwelcome">Animal Crossing Characters Identifier</h4>
        <button  onclick="location.href = '/songselect'">Enter</button>
        <div class="sponser">
            <h3 id="message">Powered by</h3>
            <a id="spotify" target="_blank" href="https://www.spotify.com/us/">
                <img id="spotify-img" src="{% static 'spotify.png' %}">
            </a>
        </div>
    </div>
</body>