<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="./../../static/css/pinfo.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    {% load static %}
    <ul class="nav-bar">
        <li class="nav-title"><h1><a href='/'>Songnality</a></h1></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="nav-links"><a href="/pinfo">Personality Information</a></li>
    </ul>
</body>