<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="./../../static/css/pinfo.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Songnality!</title>
</head>
<body>
    {% load static %}
    <ul class="nav-bar">
        <li class="nav-title"><h1><a href='/'>Songnality</a></h1></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="nav-links"><a href="/pinfo">Personality Information</a></li>
    </ul>

    <h1 class="title">
        8 Villager Personality Types
    </h1>

    <div class="b1">
        <p class="t1">
            Marshal
        </p>
        <p class="s1">
            Species: Squirrel
            <br>Personality: Smug
            <br>Catchphrase: "sulky"
        </p>
    </div>

    <div class="b2">
        <p class="t2">
            Marina
        </p>
        <p class="s2">
            Species: Octopus
            <br>Personality: Normal
            <br>Catchphrase: "blurp"
        </p>
    </div>

    <div class="b3">
        <p class="t3">
            Bob
        </p>
        <p class="s3">
            Species: Cat
            <br>Personality: Lazy
            <br>Catchphrase: "Pthhpth"
        </p>
    </div>

    <div class="b4">
        <p class="t4">
            Apollo
        </p>
        <p class="s4">
            Species: Eagle
            <br>Personality: Cranky
            <br>Catchphrase: "pah"
        </p>
    </div>

    <div class="b5">
        <p class="t5">
            Judy
        </p>
        <p class="s5">
            Species: Bear cub
            <br>Personality: Snooty
            <br>Catchphrase: "myohmy"
        </p>
    </div>

    <div class="b6">
        <p class="t6">
            Audie
        </p>
        <p class="s6">
            Species: Wolf
            <br>Personality: Peppy
            <br>Catchphrase: "foxtrot"
        </p>
    </div>

    <div class="b7">
        <p class="t7">
            Cherry
        </p>
        <p class="s7">
            Species: Dog
            <br>Personality: Big Sister
            <br>Catchphrase: "what what"
        </p>
    </div>

    <div class="b8">
        <p class="t8">
            Dom
        </p>
        <p class="s8">
            Species: Sheep
            <br>Personality: Jock
            <br>Catchphrase: "Indeedaroo"
        </p>
    </div>

</body>

